In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame as df

In [2]:
np.nan

nan

In [3]:
d = pd.DataFrame({'a' : [1],'b' : [2]})

In [4]:
d

   a  b
0  1  2

In [6]:
mat = np.random.randint(low=0, high=1000, size=(5, 5))

In [7]:
mat

array([[238, 778, 796, 852, 253],
       [ 83,  25, 530, 788,  20],
       [ 29, 586, 460, 120, 262],
       [232, 168, 351, 558, 249],
       [411, 118,  38, 995, 687]])

In [10]:
from pandas import DataFrame as df

In [12]:
d = df(mat,columns=['a','b','c','d','e'])

In [13]:
d

     a    b    c    d    e
0  238  778  796  852  253
1   83   25  530  788   20
2   29  586  460  120  262
3  232  168  351  558  249
4  411  118   38  995  687

In [16]:
#by-column or row(depends on the axis, column is default1), ascending-True is default, kind-mergesort,heapsort and/or quicksort. Quicksort is default
d.sort_values(by=['a'], ascending=[False], kind='mergesort')

     a    b    c    d    e
4  411  118   38  995  687
0  238  778  796  852  253
3  232  168  351  558  249
1   83   25  530  788   20
2   29  586  460  120  262

In [18]:

d.sort_values(by=[1], ascending=[True], kind='quicksort', axis='columns', na_position ='first')

     e    b    a    c    d
4  687  118  411   38  995
0  253  778  238  796  852
3  249  168  232  351  558
1   20   25   83  530  788
2  262  586   29  460  120

In [10]:
mat = {
        'a' : [4,3,5,6,2,np.nan,5,2,4,1,1,1,1,1,1],
        'b' : [1,5,7,2,5,7,2,3,6,1,6,2,5,7,4],
        
        
        
        
        
        }

d = df(mat)
#DataFrame[DataFrame['column'] <condition>]
d[d['a'] >= 4]

     a  b
0  4.0  1
2  5.0  7
3  6.0  2
6  5.0  2
8  4.0  6

In [14]:
#DataFrame.rank(axis='columns' || 'index', method=‘average’ || ‘min’ || ‘max’ || ‘first’ || ‘dense’, numeric_only=None || Boolean, na_option='keep' || 'top' || 'bottom', ascending=True || False, pct=False || True)
#PCT - Computes percentage rank of data
d.rank(axis='index',method='average',numeric_only=True, na_option='top',ascending=True,pct=True)

           a         b
0   0.766667  0.100000
1   0.666667  0.600000
2   0.900000  0.933333
3   1.000000  0.266667
4   0.566667  0.600000
5   0.066667  0.933333
6   0.900000  0.266667
7   0.566667  0.400000
8   0.766667  0.766667
9   0.300000  0.100000
10  0.300000  0.766667
11  0.300000  0.266667
12  0.300000  0.600000
13  0.300000  0.933333
14  0.300000  0.466667